version: "3.8"

services:
  db:
    image: postgres:15
    container_name: concert_db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: concert_db
    ports:
      - "5432:5432"
    volumes:
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  nestjs:
    build:
      context: ./api
      dockerfile: Dockerfile
    container_name: nestjs_app
    ports:
      - "3005:3005"
    environment:
      NODE_ENV: production
      DB_HOST: db
      DB_PORT: 5432
      DB_USER: postgres
      DB_PASS: postgres
      DB_NAME: concert_db
    depends_on:
      db:
        condition: service_healthy
    restart: always

  nextjs:
    build:
      context: ./web
      dockerfile: Dockerfile
    container_name: nextjs_app
    ports:
      - "3000:3000"
    environment:
      NODE_ENV: production
      NEXT_PUBLIC_API_URL: http://nestjs_app:3005
    depends_on:
      - db
      - nestjs
    restart: always
